@font-face {
  font-family: 'MyFont';
  src: url('./Garland.otf') format('woffotf2'),
    url('./Garland.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.jpg');
}